/app/client/transport_reality_app/Pods/*
/app/server/transport_reality_service/Dockerfile
/app/server/transport_reality_service/Package.resolved
/app/server/transport_reality_service/docker-compose.yml
/app/server/transport_reality_service/.build
/app/server/transport_reality_service/.dockerignore
/app/server/transport_reality_service/.swiftpm
/presentation/video/*
